.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
}

.post {
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.link {
  text-decoration: none;
  color: inherit;
}

.imageContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.image {
  width: 95%;
  height: 100%;
  margin-top: 15px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.post:hover .image {
  transform: scale(1.02);
}

.postContent {
  padding: 20px;
}

.title {
  font-size: 1.5em;
  margin: 10px 0;
  color: #333;
  padding: 5px;
}

.content {
  font-size: 1em;
  margin-bottom: 5px;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.postFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.authorInfo {
  display: flex;
  align-items: center;
}

.authorImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.authorDetails {
  display: flex;
  flex-direction: column;
}

.authorName {
  font-size: 0.9em;
  font-weight: 500;
  margin: 0;
  color: #444;
}

.authorSchool {
  font-size: 0.8em;
  color: #888;
  margin: 2px 0 0;
}

.likeCount {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  color: #4a90e2;
}


.error {
  color: red;
  margin-top: 10px;
}


.noResults {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-size: 1.5em;
  color: #666;
}

.searchInput {
  width: 400px;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

.heartIcon {
  font-size: 1.1em;
  margin-right: 4px;
}